*{
    margin: 0px;
    padding: 0px;
}

h1{
    color:white;
}

h2{
    color: white;
}

body{
    background: linear-gradient(to right,#e66465, #9198e5); 
}

.image{
    height: auto;
    width: 100px;
}

p{
    color:#ffffff;
}



ul li a{
    color: white;
}

.texto-derecha{
    text-align: right;
}


#menu-general{
    display: flex;
    justify-content: space-around;

}



.menu{
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0px;
  
} 


.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    text-align: center;
    font-size:large ;
   
}

        
.menu li{
    text-align:right;
    width: 20%;
}
        
.menu li a:hover{
    background:grey;
}

.menu-horizontal{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

ul{
    display: flex;
    justify-content: space-between;
}

.redes{
    height: 200px;
    padding: 30px;
    .sociales{
        margin-top: 80px;

    }
}



.sociales{
    text-align:right;
    padding-top: 40px;
    padding-bottom: 40px;
    li{
        display: inline-block;
    }
    a{
        padding: 10px;
    }
}



.header{
    border-bottom: 2px solid white;
}

.footer{
    margin-top: 280px;
}



footer{
    display: flex; flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.footer-text{
    display: flex; flex-direction: row;
    align-items: flex-end;
}


.in-flex{
    flex: 1;
    min-width: 300px;
    div{
        padding: 25px;
        margin: 20px;
    }
}
.in-flex:first-child{
    flex-wrap: 2;
    padding: 25px;
    background: rgb(243, 234, 234);
    margin: 20px;
    margin-bottom: 0px;
}







.ubication{
    text-align: center;
    border: 2px solid black;
    width: 700px;
    margin: auto;

}

.container__photos{
    width: 70%;
    display: grid;
    grid-template-columns: 55% 55%;
    grid-gap: 5%;
    grid-column-gap: 5%;
    margin-left: 130px;
    div img{
        width: 100%;
    }
}

nav{
    ul{
        li{
            list-style: none;
            a{
                text-decoration: none;
            }
        }
    }

}

form{
    width: 25%;
    margin: auto;
    .input--texto{
        input{
            width: 100%;
        }
    }
    .input--submit{
        width: 20%;
        margin: auto;
        input{
            width: 100%;
        }
    }
}

.imgContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;

}




.border{
    background-color: darksalmon;
    color: #fff;
    width: 350px;
    height: 470px;
    border-top: 15px solid black;
    border-left: 15px solid black;
    border-bottom: 15px solid black;
    border-right: 15px solid black;

    
    animation-name: miAnimacion;
    animation-duration: 4s; 
}

@keyframes miAnimacion{
    0%{
        transform: translateX(-30%);
        background-color:sandybrown;
    }
   
    100%{
        transform: translateX(20%);
        background-color:sandybrown;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Pacifico&family=Parisienne&family=Sacramento&family=Satisfy&display=swap');
h2{
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Parisienne', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Satisfy', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Pacifico&family=Parisienne&family=Sacramento&family=Satisfy&display=swap');
h1{
    font-family: 'Cantarell', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Parisienne', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Satisfy', cursive;
}

.contenedor{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
    border: 3px solid #000;
    border-style:dotted;
    padding-top: 100px;
    padding-bottom: 100px;
    .contenedor__collage{
        width: 23%;
        display: grid;
        grid-template-columns: 55% 55%;
        grid-gap: 5%;
        grid-column-gap: 5%;
        margin-left: 130px;
        position: relative;

    }
    .contenedor__imagen{
        position: relative;
        display: inline-block;
        text-align: center;
        margin-top: 40px;
        margin-left: 60px;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Lobster&family=Pacifico&family=Parisienne&family=Sacramento&family=Satisfy&display=swap');
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
    h3{
        font-family: 'Cantarell', sans-serif;
        font-family: 'Lobster', cursive;
        font-family: 'Pacifico', cursive;
        font-family: 'Parisienne', cursive;
        font-family: 'Sacramento', cursive;
        font-family: 'Satisfy', cursive;
        padding-top: 40px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Lobster&family=Pacifico&family=Parisienne&family=Sacramento&family=Satisfy&display=swap');

h6{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Cantarell', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Parisienne', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Satisfy', cursive;
    padding-top: 40px;
    font-size: 25px;
}

.logo{
    margin-top: 2%;
    float: left;
}

/*media query*/

@media (min-width: 400.99px) and (max-width: 800.98px){
    h1{
        color:fuchsia;
    }
}


@media (min-width: 200px) and (max-width: 400.98px){
    body{
        background: linear-gradient(#45ddf1, #9198e5);
    }
}
